.languageToggleButton {
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-primary);
  transition: color 300ms ease;
  &:hover {
    color: var(--accent);
  }
  span {
    font-family: "Inter Variable", sans-serif;
  }
}
