.Button {
    width: 100%;

    a {
        display: flex;
        height: auto;
        line-height: 2rem;
        padding: 0 2rem;
        font-size: 1.125em;
        font-weight: 400;
        border-radius: 2.5rem;
        padding-bottom: 1.25rem;
        padding-top: 1.25rem;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease, fill 0.25s ease;
        background-color: var(--button);

        &:hover,
        &:active,
        &:focus {
            transform: scale(1.025);
        }

        span {
            order: 1;
            font-weight: 500;
        }

        svg {
            display: block;
            fill: var(--text-primary);
            flex-grow: 0;
            flex-shrink: 0;
            height: 1.75rem !important;
            min-width: 16px;
            width: 1.75em;
            margin-left: 0.5em;
            margin-right: calc(-0.125em + 0rem);
            order: 2;
        }
    }
}
