$SIZE: 80%;

.highlightCursorWrapper {
    position: fixed;
    z-index: 9999;
    overflow: hidden;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .highlightCursor {
        position: absolute;
        width: $SIZE;
        height: $SIZE;
        border-radius: 50%;
        background: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0));
        transform: translate(-50%, -50%);
    }
}
