$tooltip-width: 120px;

.TooltipWrapper {
  position: relative;
  display: inline-block;

  &:hover .TooltipText {
    opacity: 1;
    pointer-events: auto;
  }

  .TooltipText {
    z-index: 1;
    opacity: 0;
    position: absolute;
    width: $tooltip-width;
    left: 50%;
    bottom: 125%;
    transform: translateX(-50%);
    padding: 0.15rem 0.5rem;
    text-align: center;
    color: var(--text-1);
    background-color: var(--background-1);
    border-radius: 6px;
    transition: opacity 0.3s;
    pointer-events: none;

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      border-width: 5px;
      border-style: solid;
      border-color: var(--background-1) transparent transparent transparent;
    }
  }
}
