.squarePaper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-size:
    100% 100%,
    20px 20px,
    20px 20px;
  background-position:
    0 0,
    0 0,
    0 0;
  background-image:
    linear-gradient(to bottom, var(--background) 0%, transparent 65%), linear-gradient(var(--text-primary) 1px, transparent 1px),
    linear-gradient(90deg, var(--text-primary) 1px, transparent 1px);
  mask-image: linear-gradient(to bottom, black 0%, transparent 35%);
}
