.header {
  cursor: default;
  grid-area: header;
  h1 {
    margin: 0;
    font-size: 2.25rem;
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-secondary);
  }
}

.about {
  cursor: default;
  grid-area: about;
  p {
    line-height: 1.75;
    text-align: justify;
    
    span {
      font-weight: 500;
      border-radius: 8px;
      background-color: var(--background-1);
      padding: 0.15rem 0.25rem;
    }
  }
}

.socials {
  grid-area: socials;
  ul {
    list-style: none;
    justify-content: center;
    align-items: center; 
    display: flex;
    padding: 0;
    gap: 1rem;
  }
}

.projects {
  grid-area: projects;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  @media (max-width: 768px) {
    height: auto;
    overflow: visible;
  }
}