@import url("https://fonts.googleapis.com/css?display=swap&family=DM+Sans:500,500italic,400,400italic");

:root {
  --primary: #FFF;
  --background-1: hsl(0, 0%, 95%);
  --background-2: #DEDEDE;
  --button: #E8F5F7;
  --text-primary: rgb(83, 97, 99);
  --text-secondary: rgba(83, 97, 99, 0.6);
}

* {
  color: var(--text-primary);
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  overflow-x: hidden;
  word-wrap: break-word;
  background-color: var(--background-1);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201024%201024%22%20width%3D%221024%22%20height%3D%221024%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cstyle%3E%20circle%20%7B%20fill%3A%20rgba(0,0,0,0.039)%3B%20%7D%20%3C%2Fstyle%3E%20%3Ccircle%20cx%3D%22256%22%20cy%3D%22256%22%20r%3D%2210.01%25%22%20%2F%3E%20%3Ccircle%20cx%3D%22768%22%20cy%3D%22768%22%20r%3D%2210.01%25%22%20%2F%3E%3C%2Fsvg%3E");
  background-size: 150px, auto;
  background-position: center, 0% 0%;
  background-repeat: repeat, repeat;
  animation: scrollBg 40s linear infinite;
}

@keyframes scrollBg {
  0% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 100% 0%;
  }
}

#root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #0d1117;
    --background-1: #010409;
    --background-2: #7d8590;
    --button: #30363d;
    --text-primary: #eeeeee;
    --text-secondary: rgba(238, 238, 238, 0.6);
  }

  body {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201024%201024%22%20width%3D%221024%22%20height%3D%221024%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cstyle%3E%20circle%20%7B%20fill%3A%20rgb(13,17,23)%3B%20%7D%20%3C%2Fstyle%3E%20%3Ccircle%20cx%3D%22256%22%20cy%3D%22256%22%20r%3D%2210.01%25%22%20%2F%3E%20%3Ccircle%20cx%3D%22768%22%20cy%3D%22768%22%20r%3D%2210.01%25%22%20%2F%3E%3C%2Fsvg%3E");
  }
}