:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="light"] {
  --accent: oklch(0.65 0.15 240);
  --background: oklch(0.95 0 0);
  --text-primary: oklch(0.15 0 0);
  --text-muted: oklch(0.55 0 0);
  --label-active: oklch(0 0 0);
}

:root[data-theme="dark"] {
  --accent: oklch(0.65 0.15 240);
  --background: oklch(0.05 0 0);
  --text-primary: oklch(0.85 0 0);
  --text-muted: oklch(0.55 0 0);
  --label-active: oklch(1 0 0);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Variable", sans-serif;
  background-color: var(--background);
}
