.aboutPage {
  margin: 0;
  padding-top: clamp(5rem, 8vw + 1rem, 8rem);

  section {
    margin: 0 clamp(0rem, 4vw, 3.5rem);
    padding-bottom: clamp(3rem, 6vw + 1rem, 6rem);
    padding-left: clamp(1rem, 2vw + 0.5rem, 2rem);
    padding-right: clamp(1rem, 2vw + 0.5rem, 2rem);
    justify-content: center;
  }

  .heroWrapper {
    margin-bottom: 32px;

    .heroTitle {
      margin-top: 0;
      margin-bottom: 24px;
      line-height: 48px;
      font-size: 48px;
      font-weight: 700;
    }
    h1.heroTitle {
      line-height: 48px;
      font-size: 48px;
    }
    h2.heroTitle {
      line-height: 36px;
      font-size: 36px;
    }
  }
  .aboutDescription {
    margin-top: 0;
    font-weight: 500;
  }
}
